.app__toggle {
	margin-left: 1rem;

	input[type='checkbox'] {
		width: 0;
		height: 0;
		visibility: hidden;
	}

	input[type='checkbox']:checked + label {
		background: var(--toggle-on);
	}

	input[type='checkbox']:checked + label::after {
		left: calc(100% - 4px);
		transform: translateX(-100%);
	}

	label {
		position: relative;
		display: flex;
		width: 60px;
		height: 30px;
		background: var(--toggle-off);
		border-radius: 30rem;
		overflow: hidden;
		cursor: pointer;
	}

	label::after {
		--size: 22px;

		position: absolute;
		top: calc(50% - calc(var(--size) / 2));
		left: 4px;
		content: '';
		width: 22px;
		height: 22px;
		background-color: var(--app-header-pattern);
		border-radius: 50%;
		transition: left 400ms cubic-bezier(0.25, 0.1, 0.25, 1.65),
			background 400ms cubic-bezier(0.25, 0.1, 0.25, 1.65),
			transform 400ms cubic-bezier(0.25, 0.1, 0.25, 1.65),
			width 400ms cubic-bezier(0.25, 0.1, 0.25, 1.65);
	}

	label:active::after {
		width: 26px;
	}
}
