@mixin alignCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin alignFlow {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

@mixin rowFlow {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

@mixin columnFlow {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

@mixin betweenFlex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

@mixin topDecoration($type) {
	border-top-style: solid;
	border-top-width: 5px;

	@if $type == 'facebook' {
		border-color: var(--facebook);
	}

	@if $type == 'twitter' {
		border-color: var(--twitter);
	}

	@if $type == 'instagram' {
		border-image-slice: 1;
		border-image-source: var(--instagram);
	}

	@if $type == 'youtube' {
		border-color: var(--youtube);
	}
}
